<%- include('./partials/header') %>
<main>
    <div class="ui segment">
      <h1>About route</h1>
      <p>This is simple site using <b>JS</b> and <b>EJS</b>. This site is just a litle test.</p>
    </div>
  </main>

<%- include('./partials/footer') %>