<%- include('./partials/header') %>
  <main>
    <div class="ui segment">
      <h1>Route Data</h1>
      <p>This is a example of a POST requisition</p>
    </div>
  </main>

<%- include('./partials/footer') %>