<%- include('./partials/header') %>
  <main>
    <div class="ui segment">
      <h1>Route Home</h1>
      <p>This is a litle site using <b>JS</b></p>
    </div>
  </main>

<%- include('./partials/footer') %>
